<!DOCTYPE html>
<html>
<head>
    <title>Notadd Administration Area</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
<div id="app"></div>
<script>
  window.api = "http://notadd.io/api";
  window.asset = "http://notadd.io/assets";
  window.admin = "http://notadd.io/admin";
  window.upload = "http://notadd.io/editor";
  window.url = "http://notadd.io";
  window.UEDITOR_HOME_URL = "http://notadd.io/assets/neditor/";
</script>
</body>
</html>
