<!DOCTYPE html>
<html>
<head>
    <title>Notadd Administration Area</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
<div id="app"></div>
<script>
  window.api = "http://notadd.dev/api";
  window.asset = "http://notadd.dev/assets";
  window.admin = "http://notadd.dev/admin";
  window.upload = "http://notadd.dev/editor";
  window.url = "http://notadd.dev";
  window.UEDITOR_HOME_URL = "http://notadd.dev/assets/neditor/";
  window.modules = [
      "notadd/content",
      "notadd/member",
  ];
</script>
<script src="http://localhost:8081/module.js"></script>
</body>
</html>
